<!DOCTYPE html >
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="rgb.css">
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


        <title>Color game</title

               
    </head>

    <body class="body">
        <h1 id="heading">
            The Great
            <br> 
            <span id="currentColor"> RGB </span>
            <br> 
            Guessing Game
        </h1>
        <div id="stripe">
            <button id="b1">New Colors</button>
            <span id="result"></span>
            <button id="b2">EASY</button>
            <button id="b3" class="selected">HARD</button>
        </div>
        <div id="container">
         <div class="square"></div>
         <div class="square"></div>
         <div class="square"></div>
     <div id="easy">
         <div class="square" ></div>
         <div class="square"></div>
         <div class="square"></div>
     </div>
        </div>



       
        <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
       <script type="text/javascript" src="rgb.js"></script>

    </body>

    
</html>